/*=============================
         LOADER
==============================*/

.m-loader
{
  @include square(100%);
  background: rgba(255, 255, 255, 0.5);
  z-index: $index-loader;
  display: none;

  .spinner
  {
    display: block;
    top: 50%;
    @include square(30px);
    span
    {
      display: block;
      @include square(30px);
      border-top: solid 5px $base-color-2-1;
      border-right: solid 5px $base-color-1-1;
      border-bottom: solid 5px $base-color-2-3;
      border-left: solid 5px $base-color-1-3;
      border-radius: 50%;
      animation: rotate 1s infinite linear;
    }

  }
  
  &.active
  {
    display: block;
  }
}


/*=============================
         HEADER
==============================*/

.m-header
{
  @include gradient(vertical, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
  figure
  {
    @include size(auto, 270px);
    margin: 22px 0 0 18px;
    img
    {
      vertical-align: middle;
    }
    img.logo-text
    {
      width: 200px;
    }
    img.logo-shape
    {
      width: 30px;
    }

    @media (max-width: $screen-lg) {
      @include size(auto, 30px);
      img.logo-text
      {
        display: none;
      }
    }

    @media (max-width: $screen-md) {
      @include size(auto, 190px);
      img.logo-text
      {
        display: inline-block;
        width: 150px;
      }
    }

  }

  .menu-toggler
  {
    display: none;
    @include square(50px);
    top: 15px;
    right: 22px;
    padding: 9px;
    font-size: 2em;
    cursor: pointer;
    z-index: 3;
    transition: all ease 300ms;
    &:hover
    {
      color: $base-color-2-1;
    }
  }



  nav
  {
    padding: 32px 0 0 0;
    font-size: 1.095em;
    transition: all ease 300ms;
    z-index: 1;
    a
    {
      display: inline-block;
      padding: 0 0.7em;
      color: $base-color-4-1;
      cursor: pointer;
      transition: all ease 20ms;

      &:hover
      {
        color: $base-color-2-1;
      }
    }

    @media (max-width: $screen-md) {
      display: table;
      @include square(100%);
      position: fixed;
      left: 0;
      top: 70px;
      padding-top: 0 !important;
      background: rgba(255,255,255,0.8);
      opacity: 0;
      transform: scale(1.2);
      text-align: center;
      & > div
      {
        display: table-cell;
        @include size(auto, 100%);
        vertical-align: middle;
      }

      a
      {
        @include size(40px, 70%);
        line-height: 40px;
        color: darken($base-color-4-1, 10%);
        border-bottom: solid 1px $base-color-4-3;
      }
    }
  }


  @media (max-width: $screen-md) {
    .menu-toggler
    {
      display: block;
    }
    &.active
    {
      nav
      {
        opacity: 1;
        transform: scale(1);
      }
    }
  }


}



/*=============================
         product details
==============================*/

.m-product-summery
{
  height: 315px;
  @media (max-width: $screen-lg) {
    height: 210px;
    button
    {
      margin-top: 1em !important;
    }
  }
  @media (max-width: $screen-md) {
    height: auto;
    padding-top: 0.65em;
  }
  p
  {
    max-width: 95%;
    @media (max-width: $screen-lg) {
      padding-bottom: 4px !important;;
    }
  }
  input[type="number"]
  {
    width: 35px;
  }
}


.m-color-picker
{
  width: 75%;

  @media (max-width: $screen-sm) {
    padding-top: 0.65em;
  }

  input[type='radio']
  {
    position: absolute;
    visibility: hidden;

    & + label
    {
      @include square(33px);
      margin: -3px 2px 0 2px;
      background: #d4d4d4;
      border-radius: 50%;
      transition: all ease 400ms;
      cursor: pointer;
      padding-right: 0;

      span
      {
        display: block;
        @include square(100%);
        border-radius: 50%;
        transition: all ease 400ms;
      }

      &:hover
      {
        transform: scale(1.121212);
        span
        {
          transform: scale(0.5946);
        }
      }
    }

    &:checked + label
    {
      border: solid 4px $base-color-4-3;
    }
  }
}


.m-pricing
{
  background: lighten($base-color-4-3, 12.5%);
  @media (max-width: $screen-lg) {
    margin-top: 2.35em;
    background: transparent;
  }

  header
  {
    border-bottom: solid 1px $base-color-4-3;
    @media (max-width: $screen-lg) {
      text-align: left !important;
    }
  }

  h3
  {
    font-size: 2em;
    font-weight: 400;
  }


  h4
  {
    line-height: 1.5em;
    color: $base-color-4-1;
  }

  ul
  {
    list-style-type: disc;
    li
    {
      color: $base-color-4-1;
      font-size: 0.9em;
      line-height: 1.8em;
    }

  }
}

.m-item-desc-tabs
{
  background: lighten($base-color-4-3, 12.5%);
  @media (max-width: $screen-lg) {
    margin-top: 2.35em;
  }
  .l-tabs-header
  {
    height: 38px;
    line-height: 38px;
    border-bottom: solid 1px $base-color-1-2;

    & > .l-tab-header-item
    {
      display: inline-block;
      height: 38px;
      border-bottom: solid 0 $base-color-1-3;
      font-weight: 600;
      color: $base-color-4-1;
      cursor: pointer;
      transition: all ease 200ms;

      &:hover
      {
        color: lighten($base-color-4-1, 15%);
        border-bottom-width: 2px;
      }

      &.current
      {
        border-bottom-width: 5px;
      }
    }
  }
}

